/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: black;
  background-image: url("http://image.noelshack.com/fichiers/2018/45/4/1541693511-bitcoin-black-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;

  color: #FEFDFD;
}

h1 {
  text-align: center;
  font-family: Impact;
}

h2 {
  text-align: center;
  font-family: Courier;
}

.nifty_form {
  margin-left: 35%;
  margin-right: 35%;
}

.submitsearch {
  text-align: center;
  padding-left: 73%;
}

.resetbutton {
  text-align: center;
  padding-left: 75%;
  size: 75%;
}

.cryptobutton {
  text-align: center;
}

#cryptolist {
  text-align: right;
}
